.main-header {
    background-color: #323332;
    width: 100vw;
    height: 46px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

.header-content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
    min-width: 1240px;
    background-color: #323332;
}

.options-dropdown {
    position: relative;
    display: inline-block;
    right: 0px;
    height: 46px;
    width: 46px;
}

.options-dropdown:hover {
    background-color: #101110;

    .options-drop-button, .options-drop-button-so {
        color: #FEFFFE;
    }
}

.options-drop-button {
    background: transparent;
    color: #CBCCCB;
    font-size: 24px;
    cursor: pointer;
    margin: 10px 0 10px 0;
}

// .options-drop-button:hover {
//     color: #FEFFFE;
// }

.options-dropdown-content {
    display: none;
    position: absolute;
    background-color: #101110;
    min-width: 150px;
    padding: 0 0;
    z-index: 1;
    float: right;
    right: 0;
}

.show {
    display: block;
}

.show-color {
    background-color: #101110;
}

.logout-button {
    font-family: 'interstateextralight';
    font-size: 13px;
    font-weight: 600;
    text-align: left;
    width: 150px;
    color: #ccc;
    padding: 14px 10px;
    background-color: transparent;
    border: 0;
}

.logout-button:hover {
    color: #FCFDFC;
    background-color: #323332;
}

.mail-icon {
    height: 46px;
    width: 46px;
    display: flex;
    cursor: pointer;
}

.mail-icon-button {
    background: transparent;
    color: #CBCCCB;
    font-size: 18px;
    cursor: pointer;
    margin: 13px 0 10px 14px;
}

.mail-icon:hover {
    background-color: #101110;

    .mail-icon-button {
        color: #FEFFFE;
    }
}

.notif-icon {
    height: 46px;
    width: 46px;
    display: flex;
    cursor: pointer;
}

.notif-icon-button {
    background: transparent;
    color: #CBCCCB;
    font-size: 17px;
    cursor: pointer;
    margin: 14px 0 10px 15px;
}

.notif-icon:hover {
    background-color: #101110;

    .notif-icon-button {
        color: #FEFFFE;
    }
}

.user-dropdown {
    width: 155px;
    height: 46px;
    display: flex;
    // justify-content: space-between;
    align-items: center;
}

.round-profile-pic {
    background-image: image_url("sample-profile-pic.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-width: 26px;
    height: 26px;
    border-radius: 50%;
    margin: 0 6px 0 8px;
}

.username {
    min-width: 85px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: #CBCCCB;
    font-family: 'interstateextralight';
    font-size: 14px;
    font-weight: 600;
    // margin-right: 9px;
}

.arrow-icon {
    min-width: 22px;
    margin-left: 2px;
    margin-right: 8px;
}

.arrow {
    margin-top: 8px;
    color: #CBCCCB;
    font-size: 13px;
}

.user-dropdown:hover {
    cursor: pointer;

    .username, .arrow {
        color: #FEFFFE;
    }
}

.user-dropdown-content {
    display: none;
    position: relative;
    background-color: #101110;
    min-width: 135px;
    padding: 0 0;
    z-index: 1;
    float: left;
    left: -157px;
    bottom: -39px;
}

.user-show {
    display: block;
}

.profile-tab {
    width: 135px;
    height: 32px;
    display: flex;
}

.profile-button {
    color: #C2C3C2;
    font-size: 12px;
    margin: auto 9px;
}

.profile-text {
    color: #C2C3C2;
    font-family: 'interstateextralight';
    font-size: 13px;
    margin: auto 0;
    font-weight: 600;
}

.pro-and-upload {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 130px;
    height: 46px;
}

.pro-upload-div {
    width: 65px;
    height: 46px;
}

.pro-upload-div:hover {
    cursor: pointer;

    .header-pro-upload-text {
        color: #FEFFFE;
    }
}

.header-pro-upload-text {
    font-family: 'interstateextralight';
    color: #C2C3C2;
    font-size: 14px;
    font-weight: 600;
}

.pro:hover {
    cursor: no-drop;
}

// .pro:hover {

//     .coming-soon-text {
//         visibility: visible;
//     }
// }

// .coming-soon-text {
//     visibility: hidden;
//     width: 80px;
//     background-color: #323332;
//     color: #FEFFFE;
//     text-align: center;
//     padding: 5px 0;
//     border-radius: 6px;

//     position: relative;
//     left: 0;
//     z-index: 1;

//     font-family: 'interstateextralight';
//     font-size: 12px;
// }

// .coming-soon-text::after {
//     content: " ";
//     position: relative;
//     bottom: 100%;
//     left: 50%;
//     margin-left: -5px;
//     border-width: 5px;
//     border-style: solid;
//     border-color: transparent transparent #323332 transparent;
// }

.header-search-div {
    display: flex;
    padding-left: 10px;
}

.header-search-bar {
    font-family: 'interstateextralight';
    margin: auto;
    color: #9D9E9D;
    outline: 0;
    border: 0;
    background-color: #F1F2F1;
    padding: 5px 7px;
    font-size: 14px;
    width: 408px;
    height: 28px;
    border-radius: 4px;
    line-height: 20px;
}

.header-search-bar:focus {
    outline: 0;
}

.header-s-icon {
    position: relative;
    left: -25px;
    bottom: 0;
    font-size: 15px;
    color: #656665;
}

.header-s-icon:hover {
    cursor: pointer;
}

.header-nav-div {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

    li {
        float: left;
    }

    li div {
        display: flex;
        text-align: center;
        text-decoration: none;
        width: 104px;
        height: 46px;
        border-right: 1px solid #101110;

        p {
            font-family: 'interstateextralight';
            color: #C2C3C2;
            margin: auto;
            font-size: 14px;
            font-weight: 600;
        }


    }

    li:hover {
        cursor: pointer;
    }
}

.header-orange {
    background: linear-gradient(#f70, #f30);
    width: 69px;
    height: 46px;
}

.header-sc-logo {
    background-image: image_url("main-header-sc.png");
    background-size: 48px 22px;
    background-repeat: no-repeat;
    background-position: center;
    height: 46px;
    width: 69px;
}

.header-orange:hover, .header-sc-logo:hover {
    cursor: pointer;
}

.pro-and-upload-so {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 64px;
    height: 46px;
    margin-left: -5px;
    margin-right: 5px;
}

.header-pro-upload-text-so {
    font-family: 'interstateextralight';
    color: #C2C3C2;
    font-size: 14px;
    font-weight: 600;
}

.pro-upload-div-so:hover {
    cursor: pointer;

    .header-pro-upload-text-so {
        color: #FEFFFE;
    }
}

.header-so-create-div {
    padding: 9px 10px 10px 10px;
    width: 202px;
    height: 26px;
    display: flex;
}

.header-sign-in {
    font-family: 'interstateextralight';
    color: #FCFDFC;
    font-size: 14px;
    font-weight: 600;
    background-color: transparent;
    border: 1px solid #656665;
    float: left;
    margin-left: -5px;
    margin-right: 10px;
    height: 26px;
    border-radius: 3px;
    padding: 0 10px;
}

.header-sign-in:hover {
    cursor: pointer;
    border: 1px solid #989998;
}

.header-create-account {
    background-color: #f50;
    font-family: 'interstateextralight';
    font-size: 14px;
    font-weight: 600;
    color: #fff;
    height: 26px;
    padding: 2px 11px 2px 10px;
    border: 0;
    border-radius: 3px;
    margin-left: 8px;
}

.header-create-account:hover {
    cursor: pointer;
}

.header-orange-lo {
    background: linear-gradient(#f70, #f30);
    width: 166px;
    height: 46px;
    display: flex;
}

.header-orange-lo:hover {
    cursor: pointer;
}

.header-sc-logo-lo {
    background-image: image_url("main-header-sc.png");
    background-size: 48px 22px;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 46px;
    min-width: 69px;
    max-width: 69px;
}

.header-sc-text {
    display: flex;
    font-family: 'lucida_granderegular';
    color: #FDFBFD;
    font-size: 15px;
    // font-weight: 600;
    align-items: center;
    letter-spacing: 0.1em;
    justify-content: center;
    width: 83px;
    height: 46px;
    margin: 0;
}

.options-drop-button-so {
    background: transparent;
    color: #CBCCCB;
    font-size: 24px;
    cursor: pointer;
    margin: 12px 0 10px 0;
}
