.listen-div {
    display: flex;
    height: 380px;
    min-width: 1240px;
    margin: 0 auto;
    background-image: linear-gradient(to bottom right, #34847C, #1E1F1C);
}

.left-listen {
    display: flex;
    margin-left: 30px;
    margin-top: 25px;
    height: 355px;
    width: 830px;
    flex-direction: column;
}

.song-info {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.play-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #f50;
    display: flex;
    margin: 0;
}

.play-button:hover {
    background-color: #ED2303;
    cursor: pointer;
}

.button {
    color: #FEFFFE;
    margin: auto;
    font-size: 26px;
    left: 2px;
    position: relative;
}

.fa-pause {
    position: relative;
    left: 0px;
}

.artist-and-song {
    display: flex;
    width: 600px;
    height: 65px;
    flex-direction: column;
    margin: 0 10px;
}

.artist-name {
    margin: -3px 0 3px 0;
    width: max-content;
    height: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 1px 7px 1px 7px;
    color: #ccc;
    font-family: 'interstateextralight';
    font-size: 16px;
    font-weight: 600;
    line-height: 1.2;
    float: left;
}

.artist-name:hover {
    color: #FEFFFE;
    cursor: pointer;
}

.song-name {
    margin: 0;
    width: max-content;
    height: auto;
    background-color: rgba(0, 0, 0, .8);
    padding: 2px 7px 1px 7px;
    color: #FEFFFE;
    font-family: 'interstateextralight';
    font-size: 24px;
    font-weight: 600;
    float: left;
    line-height: 37px;
}

.date-and-genre {
    height: auto;
    width: 140px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.date {
    float: right;
    margin: 3px 0 0 0;
    width: auto;
    text-align: right;
    font-family: 'interstateextralight';
    font-weight: 600;
    font-size: 16px;
    color: #DCE4E4;
}

.genre {
    max-width: 120px;
    width: max-content;
    align-self: flex-end;
    color: #DCE4D4;
    font-size: 16px;
    font-weight: 600;
    font-family: 'interstateextralight';
    background-color: #989998;
    border-radius: 15px;
    padding: 0 7px;
    height: 20px;
    line-height: 20px;
}

.genre:hover {
    background-color: #656665;
    cursor: pointer;
}

.waveform {
    background-image: image_url("transparent-waveform.png");
    min-width: 862px;
    height: 151px;
    margin-left: -20px;
}

.album-art {
    height: 340px;
    width: 340px;
    background-image: image_url("neocolor-hctbw.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
}

.show-bottom-half {
    background-color: #FEFFFE;
    min-width: 1240px;
    height: 100%;
    margin: 0 auto;
}

.info-div {
    width: 850px;
    height: 90px;
    display: flex;
    border-right: 1px solid #F1F2F1;
    margin-top: 20px;
    padding: 0 19px 0 12px;
}

.comment-and-buttons {
    margin: auto;
    width: 820px;
    height: 90px;
    display: flex;
    flex-direction: column;
}

.comment {
    width: 817px;
    height: 28px;
    display: flex;
    flex-direction: row;
    background-color: #F2F2F2;
    border: 1px solid #E5E5E5;
    padding: 5px 5px 5px 0;
    align-items: center;
}

.comment-form {
    font-family: 'interstateextralight';
    font-weight: 600;
    font-size: 14px;
    background-color: #FEFFFE;
    padding: 0 9px;
    width: 745px;
    height: 25px;
    border: 1px solid #E5E5E5;
    border-radius: 4px;
    outline: 0;
    color: #989998;
}

.commenter-pic {
    background-image: image_url("sample-profile-pic.jpg");
    width: 40px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}

.buttons {
    margin-top: 10px;
    width: 817px;
    height: 33px;
    display: flex;
    flex-direction: row;
    padding-bottom: 10px;
    border-bottom: 1px solid #F1F2F1;
}

.show-buttons {
    display: flex;
    flex-direction: row;
    margin-right: 5px;
    width: max-content;
    background-color: transparent;
    font-family: 'interstateextralight';
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #e5e5e5;
    border-radius: 3px;
    padding: 2px 11px 2px 10px;
    height: 26px;
    cursor: pointer;
    text-align: center;
}

.show-buttons:hover {
    border: 1px solid #CBCCCB;
}

.like-b::before {
    content: "";
    display: flex;
    background-image: image_url("heart.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin: auto 3px auto -5px;
}

.repost-b::before {
    content: "";
    display: flex;
    background-image: image_url("repost.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin: auto 3px auto -5px;
}

.share-b::before {
    content: "";
    display: flex;
    background-image: image_url("share.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin: auto 3px auto -5px;
}

.more-b::before {
    content: "";
    display: flex;
    background-image: image_url("more.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    height: 20px;
    width: 20px;
    margin: auto 3px auto -5px;
}

.profile-and-description {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 857px;
    margin: 20px 20px 0 25px;
}

.profile-div {
    display: flex;
    flex-direction: column;
}
.show-profile-pic {
    // background-image: image_url("sample-profile-pic.jpg");
    background-position: center;
    background-size: cover;
    width: 120px;
    height: 120px;
    border-radius: 50%;
}

.show-username {
    font-family: 'interstateextralight';
    font-weight: 600;
    font-size: 14px;
    width: max-content;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 7px;
    line-height: 1.3;
}

.followers-and-tracks {
    width: 120px;
    height: 22px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.show-follower-count {
    font-family: 'interstateextralight';
    font-weight: 600;
    font-size: 12px;
    width: 42px;
    height: 22px;
    margin: 0;
    color: #9A9B9A;
    text-align: left;
}

.show-follower-count::before {
    content: "";
    display: inline-block;
    background-image: image_url("followers.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 16px;
    min-height: 12px;
    margin: 0 4px -2px 0; 
}

.show-tracks-count {
    font-family: 'interstateextralight';
    font-weight: 600;
    font-size: 12px;
    width: 42px;
    height: 22px;
    margin: 0 0 0 -2px;
    color: #9A9B9A;
    text-align: left;
}

.show-tracks-count::before {
    content: "";
    display: inline-block;
    background-image: image_url("tracks.svg");
    background-size: 16px 16px;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 16px;
    min-height: 12px;
    margin: 0 3px -2px 0;
}

.show-follow-button {
    width: 52px;
    height: 22px;
    background-color: #f50;
    font-family: 'interstateextralight';
    font-weight: 600;
    font-size: 11px;
    border-radius: 3px;
    color: #fff;
    padding: 2px 9px 2px 8px;
    line-height: 16px;
    cursor: pointer;
    outline: 0;
    border: 1px solid #e5e5e5;
    margin-top: 2px;
}

.description-div {
    width: 706px;
    height: 300px;
    border-right: 1px solid #F1F2F1;
    margin-left: 30px;
    margin-top: -20px;
    padding-top: 20px;
    display: flex;

    p {
        margin: 0;
        justify-self: left;
        font-family: 'interstateextralight';
        font-weight: 600;
        font-size: 14px;
        color: #333;
        width: 668px;
        text-align: left;
    }
}

