.stream-content {
    width: 879px;
    border-right: 1px solid #f2f2f2;
    padding: 30px 30px 0 30px;
}

.stream-header {
    margin: 0 0 50px 0;
    text-align: left;
    font-family: 'interstateextralight';
    color: #999;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}

.stream-song {
    width: 819px;
    height: 168px;
    display: flex;
    flex-direction: row;
    margin-bottom: 50px;

    .stream-aa-link {
        height: 160px;
        width: 160px;
        margin: 0 15px auto 0;
    }

    .stream-album-art {
        width: 160px;
        height: 160px;
        margin: auto 0 auto auto;

        img {
            width: 160px;
            height: 160px;
        }
    }

    .stream-song-details {
        width: 644px;
        height: 168px;

        .ssd-header {
            width: 644px;
            height: 50px;
            padding-top: 7px;
            display: flex;
            flex-direction: row;

            .stream-play-button {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: #f50;
                display: flex;

                &:hover {
                    background-color: #ED2303;
                    cursor: pointer;
                }

                .stream-button {
                    color: #FEFFFE;
                    margin: auto;
                    font-size: 14px;
                    position: relative;
                    left: 2px;
                }

                .fa-pause {
                    position: relative;
                    left: 0px;
                }
            }

            .ssd-text {
                display: flex;
                flex-direction: column;
                height: 36px;
                width: 490px;
                margin: 0 0 auto 5px;

                .ssd-title {
                    font-family: 'interstateextralight';
                    font-size: 15px;
                    margin-top: -1px;
                    text-align: left;
                    float: left;
                    color: #333;
                    
                    &:hover {
                        color: #000;
                        cursor: pointer;
                    }
                }

                .ssd-artist {
                    font-family: 'interstateextralight';
                    font-size: 12px;
                    margin: 0;
                    text-align: left;
                    float: left;
                    color: #999;

                    &:hover {
                        color: #333;
                        cursor: pointer;
                    }
                }
            }

            .ssd-tag {
                width: 112px;
                height: 20px;
                margin-left: 5px;
                display: flex;
                flex-direction: row-reverse;

                .ssd-genre {
                    margin: auto 0;
                    font-family: 'interstateextralight';
                    font-size: 12px;
                    float: right;
                    background-color: #999;
                    color: #fff;
                    border-radius: 20px;
                    line-height: 1.5;
                    padding: 0 6px;

                    &:hover {
                        background-color: #666;
                        cursor: pointer;
                    }
                }
            }
        }

        .sample-waveform {
            width: 646px;
            height: 66px;
            background-image: image_url('samplewaveform.png');
            background-size: cover;
        }

        .ssd-buttons {
            width: 644px;
            height: 30px;
            display: flex;
            flex-direction: row;
            margin-top: 22px;
            justify-content: space-between;

            .ssd-buttons-div {
                width: 400px;
                height: 30px;
                display: flex;
                flex-direction: row;
            }

            .ssd-show-buttons {
                display: flex;
                flex-direction: row;
                margin-right: 5px;
                width: max-content;
                background-color: transparent;
                font-family: 'interstateextralight';
                font-weight: 600;
                font-size: 11px;
                line-height: 16px;
                border: 1px solid #e5e5e5;
                border-radius: 3px;
                padding: 2px 9px 2px 8px;
                height: 22px;
                cursor: pointer;
                text-align: center;
            }

            .ssd-show-buttons:hover {
                border: 1px solid #CBCCCB;
            }

            .ssd-like-b::before {
                content: "";
                display: flex;
                background-image: image_url("heart.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center;
                height: 20px;
                width: 20px;
                margin: -1px 3px auto -5px;
            }

            .ssd-repost-b::before {
                content: "";
                display: flex;
                background-image: image_url("repost.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center;
                height: 20px;
                width: 20px;
                margin: -1px 3px auto -5px;
            }

            .ssd-share-b::before {
                content: "";
                display: flex;
                background-image: image_url("share.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center;
                height: 20px;
                width: 20px;
                margin: -1px 3px auto -5px;
            }

            .ssd-more-b::before {
                content: "";
                display: flex;
                background-image: image_url("more.svg");
                background-size: 16px 16px;
                background-repeat: no-repeat;
                background-position: center;
                height: 20px;
                width: 20px;
                margin: -1px 3px auto -5px;
            }

            .ssd-playcount {
                width: 40px;
                height: 22px;
                display: flex;
                flex-direction: row-reverse;

                .playcount {
                    color: #999;
                    font-family: 'interstateextralight';
                    font-size: 11px;
                    line-height: 12px;
                    width: 40px;
                    height: 14px;
                    margin: auto 0;

                    &::before {
                        content: '';
                        display: inline-block;
                        vertical-align: top;
                        width: 16px;
                        height: 12px;
                        background-size: 16px 16px;
                        background-image: image_url('playbutton.svg');
                        background-repeat: no-repeat;
                        background-position: center center;
                        margin-right: 2px;
                    }
                }
            }
        }
    }
}

.stream-div {
    display: flex;
    flex-direction: row;
}

.self-links {
    height: 700px;
    width: 270px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    a:hover {
        i {
            opacity: 1;
        }
    }

    i {
        font-size: 150px;
        color: #323332;
        opacity: 0.1;
        transition: opacity 1s;
        -webkit-transition: opacity 1s;
    }
}