.stream-content {
    width: 879px;
    border-right: 1px solid #f2f2f2;
    padding: 30px 30px 0 30px;
}

.stream-header {
    margin: 0;
    text-align: left;
    font-family: 'interstateextralight';
    color: #999;
    font-weight: 600;
    font-size: 17px;
    letter-spacing: 1px;
}

.stream-song {
    width: 819px;
    height: 168px;
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    .stream-aa-link {
        height: 160px;
        width: 160px;
        margin: 0 15px auto 0;
    }

    .stream-album-art {
        width: 160px;
        height: 160px;
        margin: auto 0 auto auto;

        img {
            width: 160px;
            height: 160px;
        }
    }

    .stream-song-details {
        width: 644px;
        height: 168px;
        outline: 1px solid red;

        .ssd-header {
            width: 644px;
            height: 50px;
            outline: 1px solid red;
            margin-bottom: 6px;
            padding-top: 7px;
            display: flex;
            flex-direction: row;

            .stream-play-button {
                width: 36px;
                height: 36px;
                border-radius: 50%;
                background-color: #f50;
                display: flex;

                &:hover {
                    background-color: #ED2303;
                    cursor: pointer;
                }

                .stream-button {
                    color: #FEFFFE;
                    margin: auto;
                    font-size: 14px;
                    position: relative;
                    left: 2px;
                }

                .fa-pause {
                    position: relative;
                    left: 0px;
                }
            }

            .ssd-text {
                display: flex;
                flex-direction: column;
                height: 36px;
                width: 503px;
                margin: 0 0 auto 5px;

                .ssd-title {
                    font-family: 'interstateextralight';
                    font-size: 14px;
                    margin-top: -1px;
                    text-align: left;
                    float: left;
                    color: #333;
                    
                    &:hover {
                        color: #000;
                        cursor: pointer;
                    }
                }

                .ssd-artist {
                    font-family: 'interstateextralight';
                    font-size: 12px;
                    margin: 0;
                    text-align: left;
                    float: left;
                    color: #999;

                    &:hover {
                        color: #333;
                        cursor: pointer;
                    }
                }
            }

            .ssd-tag {
                width: 77px;
                height: 20px;
                margin-left: 5px;
            }
        }
    }
}