
.welcome-page {
    display: block;
    width: 100%;
    height: 740px;
    background-color: #FEFFFD;
}

.search-bar {
    // display: inline-block;
    // margin: auto 0;
    // padding: 50px 0;
    // width: 550px;
    margin: auto 0;
    margin-right: -18px;
}

.welcome-search-bar {
    font-family: 'interstateextralight';
    margin: auto;
    color: #666;
    outline: 0;
    border: 0;
    background-color: #F1F2F1;
    padding: 15px;
    font-size: 16px;
    width: 580px;
    border-radius: 3px;
}

.welcome-search-bar:focus {
    outline: 0;
}

.s-icon {
    position: relative;
    left: -36px;
    bottom: -2px;
    font-size: 21px;
    color: #656665;
}

.s-icon:hover {
    cursor: pointer;
}

.search-and-upload {
    display: flex;
    width: 100%;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
}

.welcome-or {
    display: inline-block;
    font-family: 'interstateextralight';
    color: black;
    font-size: 19px;
    width: 40px;
}

.welcome-upload-own-button {
    display: inline-block;
    background-color: #F50;
    color: white;
    height: 46px;
    padding: 13px 23px;
    margin-left: 1px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    border: 0px solid;
    border-style: solid;
}

.trending-text {
    display: flex;
    margin: -20px 25px 0 0;
    width: 100%;
    p {
        font-family: 'interstateextralight';
        font-size: 25px;
        font-weight: 500;
        margin: auto;
    }
}

.song-grid {
    margin: 24px 11px 0 34px;
    height: 453px;
    width: 1172px;
}

.grid-ul {
    list-style: none;
    margin: 0;
    width: 1172px;
    height: 453px;
}

.grid-item {
    box-sizing: border-box;
    // padding-right: 23px;
    width: 195px;
    height: 226.5px;
    float: left;
    display: flex;
    flex-direction: column;
}

.grid-link {
    text-decoration: none;
    width: 172px;
    height: 172px;

    .album-art-grid {
        box-sizing: border-box;
        width: 172px;
        height: 172px;
        // padding-bottom: 100%;
        // margin-bottom: -100%;
        // background-image: image_url('neocolor-hctbw.jpg');
        // background-repeat: no-repeat;
        // background-size: 100%;
        position: relative;
        text-decoration: none;
        display: block;
        // @include filter-gradient(#ffb76b, #ff7f04, horizontal);

        // background-image: linear-gradient(left top, #ffb76b 0%, #ffa73d 41%, #ffa73d 41%, #ff7c00 78%, #ff7f04 100%);

        .grid-album-art {
            width: 172px;
            height: 172px;
        }
    }
}

.song-link {
    width: 172px;
    height: 20px;

    .grid-song-div {
        width: 172px;
        height: 20px;
        position: relative;
        margin-top: 2px;
        margin-left: 2px;

        .grid-song-title {
            margin: 0;
            float: left;
            font-family: 'interstateextralight';
            font-size: 15px;
            font-weight: 600;
            color: black;
            width: 172px;
            height: 20px;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.grid-link-div {
    display: flex;
    width: 172px;
    position: relative;
    margin-left: 2px;
    margin-top: 2px;

    .grid-link-artist {
        width: 172px;
        height: 20px;

        .grid-song-artist {
            // margin-top: 0px;
            font-family: 'interstateextralight';
            font-size: 13px;
            color: #323332;
            text-align: left;
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
    }
}

.explore-trending {
    display: flex;
    width: 100%;
    margin: 25px 0 68px 0;
    padding-top: 10px;
}

.explore-trending-button {
    font-family: 'interstateextralight';
    font-size: 18px;
    font-weight: 600;
    margin: auto;
    background-color: #F50;
    color: white;
    height: 46px;
    padding: 13px 24px;
    border: none;
    border-radius: 3px;
}

.never-stop-listening-div {
    display: flex;
    justify-content: space-around;
    height: 450px;
    width: 100%;
    padding: 0 20px;
}

.never-stop-listening-img {
    width: 724px;
    height: 390px;
    align-self: flex-end;
    background-image: image_url('never-stop-listening.jpg');
}

.never-stop-listening-text {
    font-family: 'interstateextralight';
    float: left;
    height: 390px;
    width: 325px;
    right: 50px;
    position: relative;
    align-self: flex-end;
    align-content: center;

    .nsl-header {
        float: left;
        font-weight: 600;
        font-size: 36px;
        color: #323332;
        margin: 36px 0 0 0;
    }

    .nsl-gradient {
        float: left;
        display: block;
        width: 70px;
        height: 3px;
        background-image: linear-gradient(to right, #7d01a1, #f30 50%, #f50);
        margin: 8px 255px 20px 0;
    }

    .nsl-description {
        float: left;
        text-align: left;
        font-size: 24px;
        color: #323332;
        font-weight: 600;
        margin-top: 0;
        line-height: 1.4;
    }
}

.creators-div {
    display: flex;
    width: 1240px;
    height: 350px;

    .creators-img {
        background-image: image_url('sc-creator.jpg');
        width: 1240px;
        height: 350px;
        display: flex;

        .creators-text {
            font-family: 'interstateextralight';
            color: #FEFFFE;
            float: left;
            text-align: left;
            width: 520px;
            height: 200px;
            margin: auto 0 auto 60px;
            align-content: center;

            .creators-header {
                font-size: 37px;
                margin: -15px 0 0 0;
            }

            .creators-description {
                font-size: 24px;
                margin-top: 5px;
            }
        }

        .creators-button {
            font-family: 'interstateextralight';
            font-size: 18px;
            background: transparent;
            border: 1px solid #FEFFFE;
            color: #FEFFFE;
            line-height: 18px;
            border-radius: 3px;
            cursor: pointer;
            text-align: center;
            padding: 13px 24px;
        }
    }
}

.call-to-action-div {
    width: 1240px;
    height: 375px;
    display: flex;
    background-color: #FEFFFC;
}

.cta-container {
    margin: auto;
}

.cta-header {
    font-family: 'interstateextralight';
    font-size: 37px;
    font-weight: 1000;
    color: #323332;
    margin-bottom: 0;
}

.cta-description {
    font-family: 'interstateextralight';
    font-size: 24px;
    font-weight: 600;
    color: #323332;
    margin-top: 0;
}

.create-acct-button {
    margin: 10px 0 10px;
}

.cta-create-account-button {
    background-color: #f50;
    border-color: #f50;
    color: #fff;
    line-height: 18px;
    border-radius: 3px;
    font-family: 'interstateextralight';
    font-size: 18px;
    padding: 13px 35px;
    border: 0;
}

.sign-in-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
}

.already-text {
    font-family: 'interstateextralight';
    font-size: 13px;
    color: #323332;
    font-weight: 600;
    margin: 0 14px 0 0;
}

.cta-sign-in-button {
    font-family: 'interstateextralight';
    font-size: 16px;
    font-weight: 600;
    padding: 10px 15px;
    height: 40px;
    color: #323332;
    background-color: transparent;
    border: 1px solid #E4E5E4;
    border-radius: 3px;

    &:hover {
        border-color: #ccc;
    }
}