.welcome-page {
    display: block;
    width: 100%;
}

.search-bar {
    // display: inline-block;
    // margin: auto 0;
    // padding: 50px 0;
    // width: 550px;
    margin: auto 0;
    margin-right: -18px;
}

.welcome-search-bar {
    font-family: 'interstateextralight';
    margin: auto;
    color: #666;
    outline: 0;
    border: 0;
    background-color: #F1F2F1;
    padding: 15px;
    font-size: 16px;
    width: 580px;
    border-radius: 3px;
}

.welcome-search-bar:focus {
    outline: 0;
}

.s-icon {
    position: relative;
    left: -36px;
    bottom: -2px;
    font-size: 21px;
    color: #656665;
}

.s-icon:hover {
    cursor: pointer;
}

.search-and-upload {
    display: flex;
    width: 100%;
    margin: 50px 0;
    justify-content: center;
    align-items: center;
}

.welcome-or {
    display: inline-block;
    font-family: 'interstateextralight';
    color: black;
    font-size: 19px;
    width: 40px;
}

.welcome-upload-own-button {
    display: inline-block;
    background-color: #F50;
    color: white;
    height: 46px;
    padding: 13px 23px;
    margin-left: 1px;
    border-radius: 3px;
    font-size: 16px;
    line-height: 18px;
    border: 0px solid;
    border-style: solid;
}

.search-upload {
    // display: inline-block;
    // margin: auto 0;
    // padding: 50px 0;
}