.hp-top-left {
    position: absolute;
    top: 13px;
    left: 30px;
    display: flex;
    width: 184px;
    height: 46px;
    margin: 0;
    color: #FEFFFE;
    align-items: baseline;
}

.hp-top-right {
    display: flex;
    align-items: baseline;
    position: relative;
    top: 20px;
    right: -1000px;
}

.sc-logo {
    background-image: image_url("SoundCloud.png");
    background-repeat: no-repeat;
    display: flex;
    height: 22px;
    width: 48px;
    overflow: hidden;
    margin: 10px 0;
}

.hp-signup {
    display: flex;
    font-family: 'lucida_granderegular';
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 400;
    line-height: 1.3;
    margin: 13px 0 0 0;
    position: absolute;
    left: 53px;
}

.landing-image {
    display: flex;
    width: 1240px;
    min-height: 450px;
    background-image: image_url("Landing-Page-Image.jpg");
    background-repeat: no-repeat;
}

.landing-image-text {
    margin: auto;
    margin-top: 130px;
    width: 65%;
    color: #FEFFFE;
    font-family: 'interstateextralight';
    h1 {

        font-size: 36px;
        margin-bottom: 8px;
        letter-spacing: 1px;
    }

    .small-landing-image-text {
        margin: auto;
        width: 70%;

        h2 {
            font-size: 18px;
        }
    }

    .start-uploading-button {
        font-family: 'interstateextralight';
        background-color: #f50;
        color: #FEFFFE;
        margin-top: 20px;
        padding: 0 17px;
        font-size: 18px;
        height: 46px;
        border-radius: 3px;
        border: 0px solid;
    }
}

.landing-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-top: 4px solid #EE5404;
    width: 1240px;
    height: 10%;
    position: absolute;
    margin: 0 auto;
    z-index: 5;

    .sign-in {
        font-family: 'interstateextralight';
        font-size: 14px;
        padding: 2px 15px;
        height: 30px;
        line-height: 24px;
        margin: 0 0 0 10px;
        border-radius: 3px;
        background-color: transparent;
        border: 1px solid #CBCCCB;
        border-style: solid;
        color: white;

        &:hover {
            border-color: #e5e5e5;
        }
    }

    .create-account {
        font-family: 'interstateextralight';
        font-size: 14px;
        padding: 2px 16px;
        height: 30px;
        line-height: 24px;
        margin: 0 0 0 10px;
        background-color: #EE5404;
        color: white;
        border: 0px solid;
        border-style: solid;
        border-radius: 3px;
    }
}